<% provide(:title, "Connexion") %>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path, html: {class: 'form-horizontal' }) do |f| %>

      <div class="control-group">
      <%= f.label :login, class: "control-label" %>
      <div class="controls">
      <%= f.text_field :login %>
      </div>
      </div>

      <div class="control-group">
      <%= f.label :password, class: "control-label" %>
      <div class="controls">
      <%= f.password_field :password %>
      </div>
      </div>

      <%= f.submit "Connexion", class: "btn btn-large btn-primary" %>
    <% end %>

  </div>
</div>
