<%= form_for(@user, html: { :multipart => true, class: 'form-horizontal' }) do |f| %>
  <%= render 'shared/error_messages', obj: @user %>

  <div class="control-group">
  <%= f.label :first_name, class: "control-label col-sm-2" %>
  <div class="controls">
  <%= f.text_field :first_name %>
  </div>
  </div>

  <div class="control-group">
  <%= f.label :last_name,  class: "control-label" %>
  <div class="controls">
  <%= f.text_field :last_name %>
  </div>
  </div>

  <div class="control-group">
  <%= f.label :email, class: "control-label" %>
  <div class="controls">
  <%= f.text_field :email %>
  </div>
  </div>

  <div class="control-group">
  <%= f.label :address, class: "control-label" %>
  <div class="controls">
  <%= f.text_field :address %>
  </div>
  </div>

  <div class="control-group">
  <%= f.label :phone, class: "control-label" %>
  <div class="controls">
  <%= f.text_field :phone %>
  </div>
  </div>

  <div class="control-group">
  <%= f.label :availability, class: "control-label" %>
  <div class="controls">
  <%= f.text_field :availability %>
  </div>
  </div>

  <div class="control-group">
  <%= f.label :mobility, class: "control-label" %>
  <div class="controls">
  <%= f.select :mobility, User::MOBILITY.each_with_index.map { |value, index| [value,index] }, :prompt => true %>
  </div>
  </div>
  
  <div class="control-group">
  <%= f.label :international_mobility, class: "control-label" %>
  <div class="controls">
  <%= f.check_box :international_mobility %>
  </div>
  </div>

  <div class="control-group">
  <%= f.label :experience, class: "control-label" %>
  <div class="controls">
  <%= f.select :experience, User::EXPERIENCE.each_with_index.map { |value, index| [value,index] }, :prompt => true %>
  </div>
  </div>

  <div class="control-group">
  <%= f.label :salary, class: "control-label" %>
  <div class="controls">
  <%= f.select :salary, User::SALARY.each_with_index.map { |value, index| [value,index] }, :prompt => true %>
  </div>
  </div>

  <div class="control-group">
  <%= f.label :contract, class: "control-label" %>
  <div class="controls">
  <%= f.select :contract, User::CONTRACT.each_with_index.map { |value, index| [value,index] }, :prompt => true %>
  </div>
  </div>

  <div class="control-group">
  <%= f.label :skills, Skill.model_name.human.pluralize, class: "control-label" %> 
    <div class="controls checkbox skills-collapse">
      <div class="accordion" id="accordion">
        <% Category.all.each do |cat| %>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= cat.id %>">
                <%= cat.name %>
              </a>
            </div>
            <div id="collapse<%= cat.id %>" class="accordion-body collapse">
              <div class="accordion-inner skills-collapse-inner">
                <%= f.collection_check_boxes :skill_ids, Skill.all.where(category: cat), :id, :keyword %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="control-group">
  <%= f.label :speaks, Language.model_name.human.pluralize, class: "control-label" %>
  <%= f.fields_for :speaks do |s| %>
    <div class="controls">
      <%= s.collection_select :language_id, Language.all, :id, :name, :selected => s.object.language_id, :prompt => true %>
      <%= s.select :level, Speak::LEVELS.each_with_index.map { |level, index| [level,index] }, :prompt => true %>
        <% unless s.object.new_record? %>
          <%= s.check_box :_destroy %>
          <%= s.label :_destroy, t(:destroy), style: "display:inline;" %>
        <% end %>
    </div>
    <br>
  <% end %>
    <div class="controls">
      <%= f.submit t('helpers.submit.add', :model=> Language.model_name.human), class: "btn btn-small btn-default", :name => "add_speak" %>
    </div>
  </div>

  <div class="control-group">
  <%= f.label :comment, class: "control-label" %>
  <div class="controls">
  <%= f.text_area :comment %>
  </div>
  </div>

  <div class="control-group">
  <%= f.label :interview_result, class: "control-label" %>
  <div class="controls">
  <%= f.select :interview_result, User::INTERVIEW_RESULT.each_with_index.map { |value, index| [value,index] }, :prompt => true %>
  </div>
  </div>

  <div class="control-group">
  <%= f.label :interview_state, class: "control-label" %>
  <div class="controls">
  <%= f.select :interview_state, User::INTERVIEW_STATE.each_with_index.map { |value, index| [value,index] }, :prompt => true %>
  </div>
  </div>

  <div class="control-group">
  <%= f.label :attachment, class: "control-label" %>
  <div class="controls">
  <%= f.file_field :attachment %>
  </div>
  </div>

  <div class="control-group">
  <div class="controls">
  <%= f.submit t('helpers.submit.submit', :model=> User.model_name.human), class: "btn btn-small btn-primary" %>
  </div>
  </div>
<% end %>

<div class="form-horizontal">
<div class="control-group">
<div class="controls">
<% unless @user.new_record? %>
  <%= button_to "Supprimer", @user, method: :delete, data: { confirm: "Supprimer ?" }, title: @user.last_name, class: "btn btn-small btn-danger" %>
<% end %>
</div>
</div>
</div>