<%= nested_form_for(@user, html: { :multipart => true, class: 'form-horizontal' }) do |f| %>
  <%= render 'shared/error_messages', obj: @user %>

  <div class="control-group">
  <%= f.label :first_name, class: "control-label col-sm-2" %>
  <div class="controls">
  <%= f.text_field :first_name %>
  </div>
  </div>

  <div class="control-group">
  <%= f.label :last_name,  class: "control-label" %>
  <div class="controls">
  <%= f.text_field :last_name %>
  </div>
  </div>

  <div class="control-group">
  <%= f.label :email, class: "control-label" %>
  <div class="controls">
  <%= f.text_field :email %>
  </div>
  </div>

  <div class="control-group">
  <%= f.label :address, class: "control-label" %>
  <div class="controls">
  <%= f.text_field :address %>
  </div>
  </div>

  <div class="control-group">
  <%= f.label :phone, class: "control-label" %>
  <div class="controls">
  <%= f.text_field :phone %>
  </div>
  </div>

  <div class="control-group">
  <%= f.label :profile, class: "control-label" %>
  <div class="controls">
  <%= f.collection_select :profile_id, Profile.all, :id, :label, :selected => f.object.profile_id, :prompt => true %>
  </div>
  </div>

  <div class="control-group">
  <%= f.label :availability, class: "control-label" %>
  <div class="controls">
  <%= f.text_field :availability %>
  </div>
  </div>

  <div class="control-group">
  <%= f.label :mobility, class: "control-label" %>
  <div class="controls">
  <%= f.select :mobility, User::MOBILITY.each_with_index.map { |value, index| [value,index] }, :prompt => true %>
  </div>
  </div>
  
  <div class="control-group">
  <%= f.label :international_mobility, class: "control-label" %>
  <div class="controls">
  <%= f.check_box :international_mobility %>
  </div>
  </div>

  <div class="control-group">
  <%= f.label :diploma, class: "control-label" %>
  <div class="controls">
  <%= f.select :diploma, User::DIPLOMA.each_with_index.map { |value, index| [value,index] }, :prompt => true %>
  </div>
  </div>

  <div class="control-group">
  <%= f.label :experience, class: "control-label" %>
  <div class="controls">
  <%= f.select :experience, User::EXPERIENCE.each_with_index.map { |value, index| [value,index] }, :prompt => true %>
  </div>
  </div>

  <div class="control-group">
  <%= f.label :salary, class: "control-label" %>
  <div class="controls">
  <%= f.select :salary, User::SALARY.each_with_index.map { |value, index| [value,index] }, :prompt => true %>
  </div>
  </div>

  <div class="control-group">
  <%= f.label :skills, Skill.model_name.human.pluralize, class: "control-label" %> 
    <div class="controls checkbox skills-collapse">
      <div class="accordion" id="accordion">
        <% Category.all.each do |cat| %>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= cat.id %>">
                <%= cat.name %>
              </a>
            </div>
            <div id="collapse<%= cat.id %>" class="accordion-body collapse">
              <div class="accordion-inner skills-collapse-inner">
                <%= f.collection_check_boxes :skill_ids, Skill.all.where(category: cat), :id, :keyword %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="control-group">
  <%= f.label :speaks, Language.model_name.human.pluralize, class: "control-label" %>
    <div class="controls">
      <%= f.fields_for :speaks do |speak_form| %>
      <p>
        <%= speak_form.collection_select :language_id, Language.all, :id, :name, :selected => speak_form.object.language_id, :prompt => true %>
        <%= speak_form.link_to_remove "<i class='icon-remove-sign'></i>  ".html_safe %>
        <%= speak_form.select :level, Speak::LEVELS.each_with_index.map { |level, index| [level,index] }, :prompt => true %>
      </p>
      <% end %>
      <%= f.link_to_add "<i class='icon-plus'></i>  ".html_safe, :speaks %>
    </div>
  </div>

  <div class="control-group">
  <%= f.label :contracts, Contract.model_name.human, class: "control-label" %>
  <div class="controls">
    <%= f.fields_for :contracts do |contract_form| %>
    <p>
      <%= contract_form.select :type, Contract::TYPE.each_with_index.map { |index, type| [index,type] }, :prompt => true %>
      <%= contract_form.link_to_remove "<i class='icon-remove-sign'></i>  ".html_safe %>
    </p>
    <% end %>
    <%= f.link_to_add "<i class='icon-plus'></i>  ".html_safe, :contracts %>
  </div>
  </div>

  <div class="control-group">
  <%= f.label :events, Event.model_name.human.pluralize, class: "control-label" %>
    <div class="controls">
      <%= f.fields_for :events do |event_form| %>
      <p>
        <%= event_form.date_field :date %>
        <%= event_form.link_to_remove "<i class='icon-remove-sign'></i>  ".html_safe %>
        <%= event_form.text_area :description %>
      </p>
      <% end %>
      <%= f.link_to_add "<i class='icon-plus'></i>  ".html_safe, :events %>
    </div>
  </div>

  <div class="control-group">
  <%= f.label :comment, class: "control-label" %>
  <div class="controls">
  <%= f.text_area :comment %>
  </div>
  </div>

  <div class="control-group">
  <%= f.label :interview_result, class: "control-label" %>
  <div class="controls">
  <%= f.select :interview_result, User::INTERVIEW_RESULT.each_with_index.map { |value, index| [value,index] }, :prompt => true %>
  </div>
  </div>

  <div class="control-group">
  <%= f.label :interview_state, class: "control-label" %>
  <div class="controls">
  <%= f.select :interview_state, User::INTERVIEW_STATE.each_with_index.map { |value, index| [value,index] }, :prompt => true %>
  </div>
  </div>
  
  <div class="control-group">
  <%= f.label :change_status, class: "control-label" %>
  <div class="controls">
  <%= f.check_box :change_status %>
  </div>
  </div>

  <div class="control-group">
  <%= f.label :attachments, Attachment.model_name.human.pluralize, class: "control-label" %>
    <div class="controls">
      <%= f.fields_for :attachments do |attachment_form| %>
      <p>
        <%= attachment_form.text_field :resume_file_name, :readonly => true unless attachment_form.object.new_record? %>
        <%= attachment_form.file_field :resume if attachment_form.object.new_record?  %>
        <%= attachment_form.link_to_remove "<i class='icon-remove-sign'></i>  ".html_safe %>
      </p>
      <% end %>
      <%= f.link_to_add "<i class='icon-plus'></i>  ".html_safe, :attachments %>
    </div>
  </div>

  <div class="control-group">
  <div class="controls">
  <%= f.submit t('helpers.submit.submit', :model=> User.model_name.human), class: "btn btn-small btn-primary" %>
  </div>
  </div>
<% end %>

<div class="form-horizontal">
<div class="control-group">
<div class="controls">
<% unless @user.new_record? %>
  <%= button_to "Supprimer", @user, method: :delete, data: { confirm: "Supprimer ?" }, title: @user.last_name, class: "btn btn-small btn-danger" %>
<% end %>
</div>
</div>
</div>