<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages' %>

  <%= f.label :first_name %>
  <%= f.text_field :first_name %>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :address %>
  <%= f.text_field :address %>

  <%= f.label :phone %>
  <%= f.text_field :phone %>

  <%= f.label :mobility %>
  <%= f.select :mobility, User::MOBILITY.each_with_index.map { |value, index| [value,index] }, :prompt => true %>
  
  <div class="checkbox">
  <%= f.check_box :international_mobility %>
  <%= f.label :international_mobility %>
  </div>

  <%= f.label :experience %>
  <%= f.select :experience, User::EXPERIENCE.each_with_index.map { |value, index| [value,index] }, :prompt => true %>

  <%= f.label :salary %>
  <%= f.select :salary, User::SALARY.each_with_index.map { |value, index| [value,index] }, :prompt => true %>

  <%= f.label :contract %>
  <%= f.select :contract, User::CONTRACT.each_with_index.map { |value, index| [value,index] }, :prompt => true %>

  <%= f.label :skills, Skill.model_name.human.pluralize %>  
  <div class="checkbox">
  <%= f.collection_check_boxes :skill_ids, Skill.all, :id, :keyword %>
  </div>

  <%= f.label :speaks %>
  <%= f.fields_for :speaks do |s| %>
    <%= s.collection_select :language_id, Language.all, :id, :name, :selected => s.object.language_id, :prompt => true %>
    <%= s.select :level, Speak::LEVELS.each_with_index.map { |level, index| [level,index] }, :prompt => true %>
      <% unless s.object.new_record? %>
        <%= s.check_box :_destroy %>
        <%= s.label :_destroy, style: "display:inline;" %>
      <% end %>
  <% end %>

  <%= f.submit t('helpers.submit.submit', :model=> User.model_name.human), class: "btn btn-small btn-primary" %>
  <%= f.submit t('helpers.submit.add', :model=> Language.model_name.human), class: "btn btn-small btn-secondary", :name => "add_speak" %>
<% end %>
