<% unless @users.empty? %>

  <table class="table table-striped">
    <thead>
      <tr>
        <td><%= User.human_attribute_name(:last_name) %></td>
        <td><%= User.human_attribute_name(:profile) %></td>
        <td><%= Skill.model_name.human.pluralize %></td>
      </tr>
    </thead>
    <%= render @users %>
  </table>

  <%= will_paginate @users %>

<% end %>