<%= search_form_for @q, url: "#{search_users_path}#result", html: { method: :post }, class: "form-horizontal" do |f| %>

  <div class="control-group">
  <%= f.label :last_name_or_first_name_cont, class: "control-label" %>
  <div class="controls">
  <%= f.search_field :last_name_or_first_name_cont %>
  </div>
  </div>

  <div class="control-group">
  <%= f.label :skills_id, class: "control-label" %>
    <div class="controls checkbox skills-collapse">
      <div class="accordion" id="accordion">
        <% Category.all.each do |cat| %>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= cat.id %>">
                <%= cat.name %>
              </a>
            </div>
            <div id="collapse<%= cat.id %>" class="accordion-body collapse">
              <div class="accordion-inner skills-collapse-inner">
                <% Skill.all.where(category: cat).each do |skill| %>
                  <label class="category-select">
                    <%= check_box_tag("q[skills_id_eq_any][]", skill.id) %>
                    <%= skill.keyword %>
                  </label>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="controls checkbox">
      <%= check_box_tag :inclusive %>
      <%= label_tag :inclusive, "doit répondre à tous ces critères", class: "additional_checkbox" %>
    </div>
  </div>

  <div class="control-group">
  <%= f.label :profile_id_eq, User.human_attribute_name(:profile), class: "control-label" %>
  <div class="controls">
  <%= f.select :profile_id_eq, Profile.all.collect {|p| [ p.label, p.id ] }, include_blank: true %>
  </div>
  </div>

  <div class="control-group">
  <%= f.label :areas_id, "mobilité (au moins un)", User.human_attribute_name(:areas), class: "control-label" %>
  <div class="controls">
    <% Area.all.each do |area| %>
      <label class="category-select">
        <%= check_box_tag("q[areas_id_eq_any][]", area.id) %>
        <%= area.label %>
      </label>
    <% end %>
  </div>
  </div>

  <div class="control-group">
  <%= f.label :international_mobility_eq, User.human_attribute_name(:international_mobility), class: "control-label" %>
  <div class="controls">
  <%= f.radio_button :international_mobility_eq, 'true' %> Oui
  <%= f.radio_button :international_mobility_eq, 'false' %> Non
  </div>
  </div>

  <div class="control-group">
  <%= f.label :experience_eq, User.human_attribute_name(:experience), class: "control-label" %>
  <div class="controls">
  <%= f.select :experience_eq, User::EXPERIENCE.each_with_index.map {|name, index| [name,index]}, include_blank: true %>
  </div>
  </div>

  <div class="control-group">
  <%= f.label :salary_eq, User.human_attribute_name(:salary), class: "control-label" %>
  <div class="controls">
  <%= f.select :salary_eq, User::SALARY.each_with_index.map {|name, index| [name,index]}, include_blank: true %>
  </div>
  </div>

  <div class="control-group">
  <%= f.label :contracts_type_eq, Contract.model_name.human, class: "control-label" %>
  <div class="controls">
  <%= f.select :contracts_type_eq, Contract::TYPE.each_with_index.map {|name, index| [name,index]}, include_blank: true %>
  </div>
  </div>

  <div class="control-group">
  <%= f.label :interview_result_eq, User.human_attribute_name(:interview_result), class: "control-label" %>
  <div class="controls">
  <%= f.select :interview_result_eq, User::INTERVIEW_RESULT.each_with_index.map {|name, index| [name,index]}, include_blank: true %>
  </div>
  </div>

  <div class="control-group">
  <%= f.label :consultant_id_eq, User.human_attribute_name(:consultant), class: "control-label" %>
  <div class="controls">
  <%= f.select :consultant_id_eq, Consultant.all.collect {|p| [ p.label, p.id ] }, include_blank: true %>
  </div>
  </div>


  <div class="control-group">
  <%= f.label :interview_state_eq, User.human_attribute_name(:interview_state), class: "control-label" %>
  <div class="controls">
  <%= f.select :interview_state_eq, User::INTERVIEW_STATE.each_with_index.map {|name, index| [name,index]}, include_blank: true %>
  </div>
  </div>

  <div class="control-group">
  <%= f.label :languages_id_eq, Language.model_name.human, class: "control-label" %>
  <div class="controls">
  <%= f.select :languages_id_eq, Language.all.collect {|p| [ p.name, p.id ] }, include_blank: true %>
  </div>
  </div>

  <div class="control-group">
  <div class="controls">
  <%= f.submit "Recherche", class: "btn btn-small btn-primary" %>
  </div>
  </div>
<% end %>