<% provide(:title, "Edition") %>
<h1><%= yield(:title) %></h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
	  
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :compétences %>
      <ul class="checkbox-list">
        <% @skills.each do |skill| -%>
          <li><%= check_box_tag :skill_ids, skill.id, @user.skills.include?(skill), :name => 'user[skill_ids][]' -%> <%= skill.keyword -%></li>
        <% end -%>
      </ul>

      <%= f.submit "Sauvegarder", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>