<% provide(:title, "Edition") %>
<h1>Users#edit</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
	  
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.submit "Sauvegarder", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>