<% provide(:title, "#{@user.first_name} #{@user.last_name}") %>

<div class="row">
  <div class="span5 offset7">
    <div style="float:right;">
      <%= link_to raw("<i class=\"fa fa-pencil\"></i> édition"), 
          edit_user_path(@user),
          class: "btn btn-small btn-warning" %>
    </div>
    <div style="float:right; padding-right:3px;">
      <%= link_to raw("<i class=\"fa fa-plus\"></i> événement"), 
          new_user_event_path(@user),
          class: "btn btn-small btn-success",
          method: :get %>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="span5 well">
    <p>
      <b><%= fa_icon "envelope" %></b>
      <%= @user.email %>
    </p>
    <p>
      <b><%= fa_icon "save" %></b>
      <%= timeago_tag @user.created_at, :nojs => true, :limit => 10.days.ago, :lang => :fr %>
    </p>
    <p>
      <b><i class="icon-pencil"></i></b>
      <%= timeago_tag @user.updated_at, :nojs => true, :limit => 10.days.ago, :lang => :fr %>
    </p>
    <% if @user.address.present? %>
    <p>
      <b><%= fa_icon "home" %></b>
      <%= @user.address %>
    </p>
    <% end %>
    <% if @user.phone.present? %>
    <p>
      <b><%= fa_icon "phone" %></b>
      <%= @user.phone %>
    </p>
    <% end %>
    <% if @user.attachment.present? %>
      <p>
        <b><%= fa_icon "file-pdf-o" %></b>
        <%= link_to @user.attachment.original_filename, @user.attachment.url if @user.attachment.present? %> <%= "(#{@user.attachment.size/1024} ko.)" %>
      </p>
    <% end %>
  </div>
  <div class="span6 well">
    <% if @user.mobility.present? %>  
    <p>
      <b><%= User.human_attribute_name(:mobility) %></b>
      <%= User::MOBILITY[@user.mobility] %>
    </p>
    <% end %>
    <p>
      <b><%= User.human_attribute_name(:international_mobility) %></b>
      <%= t(@user.international_mobility) %>
    </p>
    <% if @user.experience.present? %>  
    <p>
      <b><%= User.human_attribute_name(:experience) %></b>
      <%= User::EXPERIENCE[@user.experience] %>
    </p>
    <% end %>
    <% if @user.contract.present? %>  
    <p>
      <b><%= User.human_attribute_name(:contract) %></b>
      <%= User::CONTRACT[@user.contract] %>
    </p>
    <% end %>
    <% if @user.availability.present? %>  
    <p>
      <b><%= User.human_attribute_name(:availability) %></b>
      <%= @user.availability %>
    </p>
    <% end %>
    <% if @user.salary.present? %>  
    <p>
      <b><%= fa_icon "euro" %></b>
      <%= User::SALARY[@user.salary] %>
    </p>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="span8 well">
    <% if @user.interview_result.present? %>  
    <p>
      <b><%= User.human_attribute_name(:interview_result) %></b>
      <%= User::INTERVIEW_RESULT[@user.interview_result] %>
    </p>
    <% end %>
    <% if @user.interview_state.present? %>  
    <p>
      <b><%= User.human_attribute_name(:interview_state) %></b>
      <%= User::INTERVIEW_STATE[@user.interview_state] %>
    </p>
    <% end %>    
    <p>
      <b><%= fa_icon "comment" %></b>
      <%= @user.comment %>
    </p>
  </div>
  <div class="span3 well">
      <b><%= fa_icon "star" %></b>
      <ol class="skills">
        <% Category.all.each do |cat| %>
          <%= render @skills.where(category: cat) %>
          <% unless @skills.where(category: cat).empty? %>
            <br>
          <% end %>
        <% end %>
      </ol>

      <b><%= fa_icon "language" %></b>
      <ul class="speaks">
        <%= render @speaks %>
      </ul>
  </div>
</div>

<% unless @events.empty? %>
<div class="row">
  <div class="span10 offset1 well">
    <table class="table table-striped">
    <%= render @events %>
    </table>
  </div>
</div>
<% end %>