<% provide(:title, "#{@user.first_name} #{@user.last_name}") %>

<div class="row">
  <div class="span5 offset7">
    <div style="float:right;">
      <%= link_to raw("<i class=\"fa fa-pencil\"></i> édition"), 
          edit_user_path(@user),
          class: "btn btn-small btn-warning" %>
    </div>
    <div style="float:right; padding-right:3px;">
      <%= link_to raw("<i class=\"fa fa-plus\"></i> événement"), 
          new_user_event_path(@user),
          class: "btn btn-small btn-success",
          method: :get %>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="span5 well">
    <% if @user.profile.present? %>
    <p>
      <%= fa_icon "bookmark" %>
      <%= @user.profile.label %>
    </p>
    <% end %>
    <% if @user.email.present? %>
    <p>
      <%= fa_icon "envelope" %>
      <%= mail_to @user.email %>
    </p>
    <% end %>
    <p>
      <%= fa_icon "save" %>
      <%= timeago_tag @user.created_at, :nojs => true, :limit => 10.days.ago, :lang => :fr %>
    </p>
    <p>
      <%= fa_icon "pencil" %>
      <%= timeago_tag @user.updated_at, :nojs => true, :limit => 10.days.ago, :lang => :fr %>
    </p>
    <% if @user.address.present? %>
    <p>
      <%= fa_icon "map-marker" %>
      <%= @user.address %>
    </p>
    <% end %>
    <% if @user.phone.present? %>
    <p>
      <%= fa_icon "phone" %>
      <%= @user.phone %>
    </p>
    <% end %>
    <%= render @attachments %>
  </div>
  <div class="span6 well">
    <p>
      <%= fa_icon "truck" %> <b><%= User.human_attribute_name(:areas).capitalize %></b>
      <%= render @areas %>
    </p>
    <% if @user.international_mobility.present? %>  
    <p>
      <%= fa_icon "plane" %> <b><%= User.human_attribute_name(:international_mobility).capitalize %></b>
      <%= t @user.international_mobility.to_s %>
    </p>
    <% end %>
    <% if @user.diploma.present? %>  
    <p>
      <%= fa_icon "graduation-cap " %> <b><%= User.human_attribute_name(:diploma).capitalize %></b>
      <%= User::DIPLOMA[@user.diploma] %>
    </p>
    <% end %>
    <% if @user.experience.present? %>
    <p>
      <%= fa_icon "book" %> <b><%= User.human_attribute_name(:experience).capitalize %></b>
      <%= User::EXPERIENCE[@user.experience] %>
    </p>
    <% end %>
    <% unless @user.contracts.empty? %>
    <p>
      <%= fa_icon "file-text" %> <b><%= User.human_attribute_name(:contract).capitalize %></b>
      <%= render @contracts %>
    </p>
    <% end %>
    <% if @user.availability.present? %>  
    <p>
      <%= fa_icon "check" %> <b><%= User.human_attribute_name(:availability).capitalize %></b>
      <%= @user.availability %>
    </p>
    <% end %>
    <% if @user.salary.present? %>  
    <p>
      <%= fa_icon "euro" %>
      <%= User::SALARY[@user.salary] %>
    </p>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="span3 well">
    <div>
      <%= fa_icon "star" %>
      <% Category.all.each do |cat| %>
        <ol class="skills">
          <% unless @skills.where(category: cat).empty? %>
            <dd><%= render @skills.where(category: cat) %></dd>
          <% end %>
        </ol>
      <% end %>
    </div>
    <div>
      <%= fa_icon "language" %>
      <ol class="speaks">
        <%= render @speaks %>
      </ol>
    </div>
  </div>
  <div class="span8 well">
    <% if @user.interview_result.present? %>  
    <p>
      <b><%= User.human_attribute_name(:interview_result).capitalize %></b>
      <%= User::INTERVIEW_RESULT[@user.interview_result] %>
    </p>
    <% end %>
    <% if @user.interview_state.present? %>  
    <p>
      <b><%= User.human_attribute_name(:interview_state).capitalize %></b>
      <%= User::INTERVIEW_STATE[@user.interview_state] %>
    </p>
    <% end %>
    <p>
      <b><%= User.human_attribute_name(:change_status).capitalize %></b>
      <%= t @user.change_status.to_s unless @user.change_status.nil? %>
    </p>
    <% if @user.comment.present? %> 
    <p>
      <%= fa_icon "comment" %>
      <%= @user.comment %>
    </p>
    <% end %>
  </div>
</div>

<% unless @events.empty? %>
<div class="row">
  <div class="span10 offset1 well">
    <table class="table table-striped">
    <%= render @events %>
    </table>
  </div>
</div>
<% end %>