<% provide(:title, "#{@user.first_name} #{@user.last_name}") %>

<p id="notice"><%= notice %></p>

<% @user.attributes.each do |attr_name, attr_value| %>
  <% next if attr_name == "id" || attr_value.nil? || attr_value=="" || attr_name=="first_name" || attr_name=="last_name" %>
  <% case attr_name %>
    <% when "experience" %>
      <% attr_value=User::EXPERIENCE[attr_value] %>
    <% when "mobility" %>
      <% attr_value=User::MOBILITY[attr_value] %>
    <% when "salary" %>
      <% attr_value=User::SALARY[attr_value] %>
    <% when "contract" %>
      <% attr_value=User::CONTRACT[attr_value] %>
    <% when "international_mobility", "created_at", "updated_at" %>
      <% attr_value=t(attr_value.to_s) %>
  <% end %>
  <p>
    <b><%= User.human_attribute_name(attr_name) %></b>
    <%= attr_value.to_s %>
  </p>
<% end %>

<p>
  <b>Compétences :</b>
  <ol class="skills">
    <%= render @skills %>
  </ol>
</p>

<p>
  <b>Langues :</b>
  <ol class="speaks">
    <%= render @speaks %>
  </ol>
</p>


<%= link_to 'Edition', edit_user_path(@user) %> |
<%= link_to 'Retour', users_path %>
