<%= form_for(@skill, html: {class: 'form-horizontal' }) do |f| %>
  <%= render 'shared/error_messages', obj: @skill %>

  <div class="control-group">
    <%= f.label :keyword, class: "control-label" %>
    <div class="controls">
    <%= f.text_field :keyword %>
    </div>
  </div>

  <div class="control-group">
  <div class="controls">
  <%= f.submit t('helpers.submit.submit', :model=> Skill.model_name.human), class: "btn btn-small btn-primary" %>
  </div>
  </div>
<% end %>

<div class="form-horizontal">
<div class="control-group">
<div class="controls">
<% unless @skill.new_record? %>
  <%= button_to "Supprimer", @skill, method: :delete, data: { confirm: "Supprimer ?" }, title: @skill.keyword, class: "btn btn-small btn-danger" %>
<% end %>
</div>
</div>
</div>