<%= form_for(@skill) do |f| %>
  <%= render 'shared/error_messages', obj: @skill %>

  <div>
    <%= f.label :keyword %>
    <%= f.text_field :keyword %>
  </div>

  <%= f.submit t('helpers.submit.submit', :model=> Skill.model_name.human), class: "btn btn-small btn-primary" %>
<% end %>

<% unless @skill.new_record? %>
  <%= button_to "Supprimer", @skill, method: :delete, data: { confirm: "Supprimer ?" }, title: @skill.keyword, class: "btn btn-small btn-danger btn-delete" %>
<% end %>