<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<%= link_to "Base de données - CV", '#', id: "logo" %>
		<nav>
			<ul class="nav pull-right">
				<li><%= link_to "Accueil",		'/' %></li>
				<% if signed_in? %>
					<li><%= link_to "Nouveau",		'/users/new' %></li>
					<li><%= link_to "Liste",		'/users/' %></li>
					<li><%= link_to "Déconnexion", signout_path, method: "delete" %></li>
				<% else %>
					<li><%= link_to "Connexion",	'/sessions/new' %></li>
				<% end %>
			</ul>
		</nav>
	</div>
</header>