<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<%= link_to "Setelia - Ressources Humaines", '#', id: "logo" %>
		<nav>
			<ul class="nav pull-right">
				<li><%= link_to "Accueil", root_path %></li>
				<% if signed_in? %>
					<li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= User.model_name.human %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
							<li><%= link_to "Liste", users_path %></li>
              <li><%= link_to "Ajouter", new_user_path %></li>
              <li><%= link_to "Compétences", skills_path %></li>
            </ul>
          </li>
					<li><%= link_to "Déconnexion", signout_path, method: "delete" %></li>
				<% else %>
					<li><%= link_to "Connexion", signin_path %></li>
				<% end %>
			</ul>
		</nav>
	</div>
</header>