<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<%= image_tag("logo.png", alt: "Setelia", class: "logo") %>
    <%= link_to "Ressources Humaines".html_safe, '#', id: "logo" %>
		<nav>
			<ul class="nav pull-right">
				<li><%= link_to "Accueil", root_path %></li>
				<% if signed_in? %>
					<li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= User.model_name.human %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "<i class='icon-th-list'></i> Liste".html_safe, users_path %></li>
              <li><%= link_to "<i class='icon-plus'></i> Ajouter".html_safe, new_user_path %></li>
							<li><%= link_to "<i class='icon-search'></i> Recherche".html_safe, search_users_path %></li>
              <li><%= link_to "<i class='icon-star'></i> Compétences".html_safe, skills_path %></li>
            </ul>
          </li>
					<li><%= link_to "Déconnexion", signout_path, method: "delete" %></li>
				<% else %>
					<li><%= link_to "Connexion", signin_path %></li>
				<% end %>
			</ul>
		</nav>
	</div>
</header>